<nav class="nav--category">
    <label class="btn btn--category" for="open-menu">
        TOPICS
    </label>
    <input type="checkbox" id="open-menu" name="open-menu" />
    <ul class="nav--category__topic">
        <li>
            <a href="#">INNOVATION</a>
        </li>
        <li>
            <a href="#">STRATEGY</a>
        </li>
        <li>
            <a href="#">EXPERIENCE</a>
        </li>
        <li>
            <a href="#">SOCIAL</a>
        </li>
        <li>
            <a href="#">DISRUPTORS</a>
        </li>
        <li>
            <a href="#">INSIGHT</a>
        </li>
    </ul> <!-- eo .nav--category__topic -->
</nav> <!-- eo .nav--category -->
