<ul class="nav--article">
    <li>
        <a href="#">The US is becoming the world's largest closed-loop payments system</a>
    </li>
    <li>
        <a href="#">Some Amazing Insights</a>
    </li>
</ul> <!-- eo .nav--article -->
