<p style="font-size: 'Din Light';">"Din Light", Arial, sans-serif;</p>
<p style="font-size: 'Din Regular';">"Din Regular", Arial, sans-serif;</p>
<p style="font-size: 'Din Medium';">"Din Medium", Arial, sans-serif;</p>
<p style="font-size: 'Din Bold';">"Din Bold", Arial, sans-serif;</p>