<div class="article__header-block">
    <h5 class="article__header-block__category">STRATEGY</h5>
    <h1 class="article__header-block__title">Why smartphones will kill credit card rewards</h1>
    <span class="article__header-block__date">October 11, 2013</span> <span class="article__header-block__author">By Brett King</span>
</div>
