<figure class="article__header__figure">
    <img src="/images/sample/landscape-16x9-mountains.jpg" alt="State of the art technology" />
    <figcaption class="caption">
        State of the art technology - 1950's
    </figcaption>
</figure>
