<div class="article__content">
    <p>
        Last year the US contributed close to <a href="#">20% of the world’s GDP</a> despite coming off the back of the biggest economic downturn since the 1930’s Great Depression. The US, UK, Germany, Russian and CIS States, and China dominate the world’s payment landscape currently, but in volume of non-bank payments the US dominates with over 50% of the world’s total. In terms of global electronic payments and transactions, the picture is similar with North America (Canada and the United States) still accounting for half of the global payments volume in the last few years (See IPFA Report November, 2011). It would be reasonable to think that this is due, at least in part, to a healthy payments and banking infrastructure.> Read More
    </p>
</div> <!-- eo .article__content -->
