<p>
    <small class="article__tags">
        <span class="article__tags__title">Filed Under:</span> Articles, Customer Experience, Mobile, P2P Payments, Payments, Technology <span class="article__tags__title">Innovation Tagged With:</span> Complex, Mastercard, Mobile, Payments, Simplify, Square, Swift, Uber, Visa
    </small>
</p>
