<form action="#" method="post" class="form--subscribe">
    <h4><i class="icon-mail"></i>SUBSCRIBE TO B4T</h4>
    <input type="email" id="field-email" placeholder="Sign up with your email address" />
    <button class="btn btn--submit">SIGN UP</button>
</form>
